@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-calender {
  width: 150px;
}

@keyframes project_live_status {
  0% {
    background: red;
    color: aliceblue;
  }
  100% {
    background: #e2e8f0;
    color: #8d9199;
  }
}

.project-live-status {
  animation: project_live_status 2s linear infinite;
}
